/* =============================================================================
   Uuh! Make the typography look cool
   ========================================================================== */

@font-face {
    font-family: 'StMarieThin';
    src: url('../font/StMarie-Thin-webfont.eot');
    src: url('../font/StMarie-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/StMarie-Thin-webfont.woff') format('woff'),
         url('../font/StMarie-Thin-webfont.ttf') format('truetype'),
         url('../font/StMarie-Thin-webfont.svg#StMarieThin') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ArchitectsDaughterRegular';
    src: url('../font/ArchitectsDaughter-webfont.eot');
    src: url('../font/ArchitectsDaughter-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ArchitectsDaughter-webfont.woff') format('woff'),
         url('../font/ArchitectsDaughter-webfont.ttf') format('truetype'),
         url('../font/ArchitectsDaughter-webfont.svg#ArchitectsDaughterRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}