/* Gee! Reset all! */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body {	line-height: 1; }
ol, ul { list-style: none; }
:focus { outline: 0; -moz-outline-style:none; }

html { height: 101%; }

body {
  background: #1a1a1a;
  color: #ddd;
  font: 100% Arial, sans-serif;
  padding: 30px 80px;
}

body.js { background: #1a1a1a url('../img/loading.gif') no-repeat center 200px; }

h1, h2, p { text-shadow: #111 1px 1px 1px;}

h2 {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 5px 0;
}

p { font-size: 12px; }

a { color: #fff; text-decoration: none; }
a:hover { color: #f0f; }
a:active { outline:none; }

.error {
  text-align: center;
  border: 1px solid;
  padding: 10px;
  color: #ba1816;
  background: #feeeee;
}

#header {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px 30px;
  width: 970px;
}

#content {
  position: relative;
}

#photoset_img,
#photoset_desc {
  float: left;
}
#photoset_img {
 
}
#photoset_desc {
  margin: 0 0 0 20px;
  width: 600px;
}

#select_form {
  position: absolute;
  top: -50px;
  right: 30px;
  width: 150px;
  z-index: 10;
}

#collaguae {
  position: relative;
  background: #000;
  margin: 0 auto 5em auto;
  width: 970px;
  padding: 20px;
  border: 1px solid transparent;
  -moz-box-shadow: 2px 2px 40px rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 2px 2px 40px rgba(255, 255, 255, 0.1);
}
.clear { clear: both; }

#collaguae a.fancy {
  float: left;
  padding: 5px;
}

#collaguae a img {
  border: 1px solid #000;
  opacity:0.2;
  filter:alpha(opacity=20);
  margin: 5px;
  -webkit-transition: -webkit-transform 0.1s ease-in;
}
#collaguae a:hover {
  -webkit-transform: rotate(none);
}

#collaguae a img:hover {
  border-color: #333;
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-box-shadow: 2px 2px 40px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 2px 2px 40px rgba(255, 255, 255, 0.3);
}

#fancybox-title-over span {
  font-size: 0.8em;
  color: #666;
  position: absolute;
  top: 0;
  left: 20px;
}

#copy, #like {
  position: absolute;
}

#copy { 
  bottom: -55px;
  left: 10px;
  padding: 20px;
  opacity: 0.6;
  width: 90% 
}

#copy p {
font-size: 9px;
}

#copy:hover { opacity: 1; }
#copy a { padding: 0; float: none; }
#copy a:hover {color: #fff; }

#like { 
  bottom: -40px;
  right: -30px 
}

/* Dropdown list styling */
.dropdown {
  font-size: 12px;
  position: absolute;
  z-index: 10;
  background:url(../img/arrow.png) no-repeat 132px 14px #000;
  color:#fff;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  cursor: pointer;
  margin: 0; 
  padding: 0;
  -moz-box-shadow: 2px 2px 40px rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 2px 2px 40px rgba(255, 255, 255, 0.1);
}

.dropdown:hover {
  background-position: 132px -66px;
  color: #f0f;
}

.dropdown a {
  float: none;
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 3px 8px;
}

.dropdown {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
  margin: 0 auto;
}

.drop ul {
  list-style-type: none;
  margin: 0;
  padding:0;
}

.drop ul li:first-child {
  border-top: 1px solid #000;
}

.drop ul li {
  display: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  background-color: #000;
}
.drop ul li:last-child  {
  display: none;
  -khtml-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}

.selected { 
  padding: 8px;
}

li ul a.selected {
  color: #f0f;
}

#select_form a:hover,
#select_form li:hover {
  color: #f0f;
}

/* Styles, no js */
.nojs #select_form { top: -100px; }
.nojs #select_form ul { width: 275px;}
.nojs #select_form ul li {
  font-weight: bold;
  font-size: 12px;
}
.nojs #select_form ul li ul li {
  float: right;
  font-weight: normal;
  font-size: 11px;
  padding: 0 5px 0 0;
}