body {
font: 62.5% Verdana, Arial, sans-serif;
background: #09428f;
color: #fff;
text-align: center;
margin: 0;
padding: 25px 0;
}

h1, h2, h3, h4, p {
margin: 0;
padding: 0;
}

h3 {
font: 2em "Times New Roman", serif;
font-weight: bold;
margin: 5px 0 8px 0;
}

.frame h4 {
font: 1.6em "Times New Roman", serif;
font-weight: bold;
margin: 0 0 15px 0;
}

p {
margin: 3px 0 5px 0;
}

a {
color: #EDB021;
text-decoration: none;
}

a:hover {
color: #FFCB4F;
text-decoration: underline;
}

a img {
border: none;
}

#container {
font-size: 1.2em;
width: 900px;
margin: 0 auto 75px auto;
text-align: left;
}

#header {
background: url('images/viljat.gif') no-repeat center 70px;
height: 210px;
}

#header h1 {
background: url('images/otsikko_h1.gif') no-repeat top left;
text-indent: -9999px;
height: 120px;
width: 420px;
margin: 0 auto;
}

#header h2 a {
display: block;
background: url('images/barilla_logo.gif') no-repeat top left;
text-indent: -9999px;
height: 57px;
width: 144px;
margin: 15px auto;
}


#accordion {
background: url('images/klik.gif') no-repeat right top;
width: 720px;
margin: 25px auto 25px auto;
}

#prod_info {
padding: 40px 0 0 0;
width: 720px;
margin: 0 auto;
text-align: justify;
}

#prod_info div{
float: left;
width: 330px;
height: 200px;
}

#prod_info #info_1 {
margin: 0 20px 0 0;
padding: 0 20px 0 0;
background: url('images/divider_ver.gif') no-repeat top right;
}

#footer {
clear: both;
width: 860px;
margin: 50px 0 75px 0;
}

#footer a#sloganlink {
text-indent: -9999px;
display: block;
float: right;
background: url('images/barilla_olennainen_osa_italiaa.gif') no-repeat top left;
height: 75px;
width: 145px;
}

#footer a#sloganlink:hover {
background-position: 0 -125px;
}



.accordion_toggle {
float: left;	/* RQUIRED: Make it Horizontal! */
display: block;
height: 260px;
width: 140px;
text-decoration: none;
outline: none;
cursor: pointer;
margin: 0;
background: #09428f;
}

.accordion_toggle.spaghetti {
text-indent: -9999px;
background: #09428f url('images/pak_spaghetti.gif') no-repeat left 20px;
}

.accordion_toggle.pipe_rigatte {
text-indent: -9999px;
background: #09428f url('images/pak_pipe.gif') no-repeat left 20px;
}

.accordion_toggle:hover {
background-position: left -326px;
}


.accordion_toggle_active.spaghetti {
background: #09428f url('images/pak_spaghetti.gif') no-repeat left -326px;
}

.accordion_toggle_active.pipe_rigatte {
background: #09428f url('images/pak_pipe.gif') no-repeat left -326px;
}

.accordion_content {
height: 260px;	/* REQUIRED: Define a height for the accordion as it stretches the width */
float: left;	/* REQUIRED: Make it horizontal */
overflow: hidden;

}
.accordion_content p {

}

.accordion_content .frame {
height: 235px;
width: 245px;
padding: 25px 0 0 25px;
}

.accordion_content.pipe_rigatte {
background: #09428f url('images/annos_pipe_rigatte.gif') no-repeat right 0px;
}

.accordion_content.spaghetti {
background: #09428f url('images/annos_spaghetti.gif') no-repeat right 0px;
}
	
.clear {
clear: both;
}




/* Resepti-ikkunat */

#resbg_rig {
background: #09428f url('images/res_pipe.jpg') no-repeat right 25px;
}

#resbg_spag {
background: #09428f url('images/res_spag.jpg') no-repeat right 25px;
}

#resepti {
text-align: left;
padding: 0 0 15px 25px;
font-size: 1.2em;
}

#resepti h1 {
}

#resepti p {
width: 350px;
}

#resepti img {
float: right;
}

#resepti .print {
float: right;
font-size: 1.4em;
font-weight: bold;
}