.some {
  margin-bottom: 75px;
  a {
    display: block;
    margin: 5px 10px 0 0;
    i {
      color: #fff;
      @include font-size(40px);
      @include opacity(0.8);
    }
    &:hover {
      i {
        @include opacity(1);
      }
    }
    .label {
      @include font-size(20px);
      padding-left: 10px;
    }
  }
}

#fb-widget {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1000;

  .fb-like {
    @include opacity(0.5);
    &:hover {
      @include opacity(1);
    }
  }
}
