/*

	Supersized - Fullscreen Slideshow jQuery Plugin
	Version : 3.2.6
	Site	: www.buildinternet.com/project/supersized

	Theme 	: Shutter 1.1
	Author	: Sam Dunn
	Company : One Mighty Roar (www.onemightyroar.com)
	License : MIT License / GPL License

*/

// Set few vars
$_super_black: #0d0d0d;
$_super_black_2: #0f0f0f;
$_super_dark_grey: #262626;
$_super_dark_grey_2: #292929;


#controls-wrapper {
  margin: 0 auto;
  height: 42px;
  width: 100%;
  bottom: 0px;
  left: 0;
  z-index: 4;
  @include linear-gradient($_super_dark_grey, $_super_black);
  position: fixed;

  #controls {
	  overflow: hidden;
	  height: 100%;
	  position: relative;
	  text-align: left;
	  z-index: 5;

	  #slidecounter {
		  float: left;
		  color: #999;
		  text-shadow: #000 0 -1px 0;
		  margin: 0px 10px 0 15px;
		  line-height: 42px;
		}

		#slidecaption {
		  overflow: hidden;
		  float: left;
		  color: #FFF;
		  text-shadow: #000 1px 1px 2px;
		  margin: 0 20px 0 0;
		  line-height: 42px;
		}
	}
}

#navigation {
  float: right;
  margin: 0px 20px 0 0;
}

#play-button {
  float: left;
  margin-top: 1px;
  border-right: 1px solid #333;
  &:hover {
  	@include linear-gradient($_super_dark_grey_2, $_super_black_2);
    cursor: pointer;
  }
}

#prevslide, #nextslide {
  position: absolute;
  top: 50%;
  margin-top: -40px;
  @include opacity(0.6);
  color: #dadada;
  &:active {
  	margin-top: -39px;
	}
	&:hover {
  	cursor: pointer;
	}
}

#prevslide {
  left: 15px;
  @include icon('\f104', 80px);
}

#nextslide {
  right: 15px;
  @include icon('\f105', 80px);
}

ul#slide-list {
  padding: 10px 0;
  float: left;
  position: absolute;
  left: 50%;
  li {
    list-style: none;
    width: 12px;
    height: 12px;
    float: left;
    margin: 0 5px 0 0;
    &.current-slide a {
      background-position: 0 0px;
      &:hover {
        background-position: 0 0px;
      }
    }
    a {
      display: block;
      @include icon('\f111', 11px);
      color: #dadada;
      @include opacity(0.6);
      &:hover {
        @include opacity(1);
        cursor: pointer;
      }
    }
  }
}

#tray-button {
  float: right;
  margin-top: 1px;
  border-left: 1px solid #333;
  &:hover {
  	@include linear-gradient($_super_dark_grey_2, $_super_black_2);
    cursor: pointer;
  }
}

/* Progress Bar
----------------------------*/

#progress-back {
  z-index: 5;
  position: fixed;
  bottom: 42px;
  left: 0;
  height: 8px;
  width: 100%;
  background: url('../supersized/img/progress-back.png') repeat-x;
}

#progress-bar {
  position: relative;
  height: 8px;
  width: 100%;
  background: url('../supersized/img/progress-bar.png') repeat-x;
}

/* Thumbnail Navigation
----------------------------*/

#nextthumb, #prevthumb {
  z-index: 2;
  display: none;
  position: fixed;
  bottom: 61px;
  height: 75px;
  width: 100px;
  overflow: hidden;
  background: #ddd;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 0 5px #000;
}

#nextthumb {
  right: 12px;
}

#prevthumb {
  left: 12px;
}

#nextthumb img, #prevthumb img {
  width: 120px;
  height: auto;
}

#nextthumb:active, #prevthumb:active {
  bottom: 59px;
}

#nextthumb:hover, #prevthumb:hover {
  cursor: pointer;
}

/* Thumbnail Tray
----------------------------*/

#thumb-tray {
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  background-color: transparentize($_super_black, .3);
  height: 150px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  -moz-box-shadow: 0px 0px 4px #000;
  -webkit-box-shadow: 0px 0px 4px #000;
  box-shadow: 0px 0px 4px #000;
}

#thumb-back, #thumb-forward {
  position: absolute;
  z-index: 5;
  bottom: 61px;
  color: #dadada;
  @include opacity(.5);
  &:hover {
  	@include opacity(1);
  }
}

#thumb-back {
  left: 5px;
  @include icon('\f137');
}

#thumb-forward {
  right: 5px;
  @include icon('\f138');
}

#thumb-back:hover, #thumb-forward:hover {
  cursor: pointer;
}

ul#thumb-list {
  display: inline-block;
  list-style: none;
  position: relative;
  left: 0px;
  padding: 0 0px;
  li {
    background: #111;
    list-style: none;
    display: inline;
    width: 120px;
    height: 100px;
    overflow: hidden;
    float: left;
    margin: 0;
    img {
      width: 150px;
      height: auto;
      @include opacity(0.6);
    }
    &.current-thumb img {
      @include opacity(1);
    }
    &:hover {
      img {
        @include opacity(1);
      }
      cursor: pointer;
    }
  }
}
